/* 
Project :   One Page
Author  :   Emre Acun
Date    :   14/September/2023
Version :   v.1.0
 */

 /* ================================================================= */
 /* Root */
 :root{
    --templateBgColor: rgb(61, 61, 61);
 }

 /* ================================================================= */
 /* Common  Property */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

html{
    font-size: 13px;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    position: relative;
}

d-flex {
    font-size: 10px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;

}

img:hover{
    opacity: 0.9;
    box-shadow: 1px 1px 4px 1px  rgba(0, 0, 0, 0.8);
    transition: 2s all;
    cursor: pointer;
}

i{
    font-size: 1.5rem;
}

p {
    color: black !important;
}

.my_clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.myHeading {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 2rem;
    text-shadow: 0.4px -0.9px rgba(0, 0, 0, 0.9);
    opacity: 0.7;
}

hr {
    text-align: center;
    width: 100%;
    border: 1px solid #0d6efd;
    opacity: 0.1;
    margin-bottom: 2rem;
}

/* my special Size */
.fSize1{
    font-size: 1rem; /* 15px*1 anlamına gelir */
}

.fSize2{
    font-size: 2rem; /* 15px*2 anlamına gelir */
}

.fSize3{
    font-size: 3rem; /* 15px*3 anlamına gelir */
}

.fSize4{
    font-size: 4rem; /* 15px*4 anlamına gelir */
}

/* Line-clamp */
.line-clamp4{
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp7{
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp8{
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp10{
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp20{
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

/* ================================================================= */
 /* Navbar */
.dark_mode{
    background-color: var(--templateBgColor);
    color: #ffffff;
}


nav-item {
    background-color: red;
}

.dropdown-toggle::after {
    color: white;
}

 /* Header */
 header {
    background-image: url("img/developer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    height: 80vh;
    padding-top: 10rem;
 }

  /* Main ID */
#messages {
margin-top: 2rem;
margin-bottom: 3rem;

}

#messages i {
    color: #0d6efd;
    font-size: 5rem;
}

#messages p {
    color: black!important;
}

  /* parallax */
  #parallax {
    background-color: transparent;
    background-image: url('./img/workspace-1280538.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    padding: 2rem;
    background-attachment: fixed;
  }

  #parallax h2, p{
    color: white!important;
  }

  /* newspaper */
  #newspaper {
    height: 35rem;
    padding: 2rem;
  }

  #newspaper p{
    color: black!important;
    text-align: justify;
  }

  /* Blog */
  #blog {
background-color: whitesmoke;
    
}

/* Detail Page */
.detail_image img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    box-shadow: 0 0 2px 2px #000000;
    transition: 0.2s all ease;
}

.detail_text p{
    line-height: 1.7rem;
    overflow: h;
}

.detail_text_info_area {
    width: 100%;
    height: 1rem;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
}



/* Google Map */
.mapouter {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio (change as needed) */
    height: 0;
  }

  .mapouter iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* Contanct Form */
.contact_form {
    width: 100%;
    height: auto;
}


  /* Footer */
  footer {
    color: white;
    min-height: 15rem;
    width: auto;
  }

  /* Back Top */
  #back_top{
    position: fixed;
    right: 0;
    bottom: 0;
  }

  #back_top:hover{
    opacity: 0.9;
    transition: 0.2s all;
  }