/* 
Project :   One Page
Author  :   Emre Acun
Date    :   14/September/2023
Version :   v.1.0
 */

 /* ================================================================= */
 /* Root */
 :root{
    --templateBgColor: rgb(61, 61, 61);
 }

 /* ================================================================= */
 /* Common  Property */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

html{
    font-size: 13px;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    position: relative;
}

d-flex {
    font-size: 10px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;

}

img:hover{
    opacity: 0.9;
    box-shadow: 1px 1px 4px 1px  rgba(0, 0, 0, 0.8);
    transition: 2s all;
    cursor: pointer;
}

i{
    font-size: 1.5rem;
}

.my_clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/* my special Size */
.fSize1{
    font-size: 1rem; /* 15px*1 anlamına gelir */
}

.fSize2{
    font-size: 2rem; /* 15px*2 anlamına gelir */
}

.fSize3{
    font-size: 3rem; /* 15px*3 anlamına gelir */
}

.fSize4{
    font-size: 4rem; /* 15px*4 anlamına gelir */
}

/* Line-clamp */
.line-clamp5{
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp8{
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp10{
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

/* ================================================================= */
 /* Navbar */
.dark_mode{
    background-color: var(--templateBgColor);
    color: #ffffff;
}

 /* Header */
 header {
    background-image: url("img/nightcity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    height: 60vh;
    padding-top: 5rem;
 }

  /* Footer */
  footer {
    color: white;
    min-height: 15rem;
    width: auto;
  }

  /* Back Top */
  #back_top{
    position: fixed;
    right: 0;
    bottom: 0;
  }

  #back_top:hover{
    opacity: 0.9;
    transition: 0.2s all;
  }