html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
    height: 35px;
    width: 35px;
};

.calculator2{
    background-color: rgb(255, 0, 0);
}